{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=width-device">
    <link rel="stylesheet" href="{% static 'usuarios/css/bootstrap1.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/signin.css' %}">

</head>

<body>

    <div class="container">
        <form class="form-signin" role="form" action="{% url 'usuarios:ponto' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <h2 class="form-signin-heading">Login</h2>
                <h3 style="font-size: 120%; color:green;">{{ sucesso_message }}</h3>
                <br>
{#                <input type="text" name="matricula" class="form-control" id="matricula_id" placeholder="Matricula" autofocus>#}
{#                <input type="password" name="password" name="password_id" placeholder="Senha" class="form-control">#}
                <div class="form-control">
                {{ form.as_p }}
                </div>
                <h3 style="font-size: 120%;color:red;">{{ error }}</h3>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>
